@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Poiret+One&display=swap');

.authContainer {
    margin-left: 15%;
}

.authTitle {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10%;
    padding-top: 5%;
    text-align: center;
    width: 100%;
}

.registerPage {
    align-items: center;
    background-image: url('../../assets/garden.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.registerForm {
    border: none !important;
    border-radius: 10px !important;
    min-width: 500px !important;
    width: 35vw;
}

.form-group {
    margin-bottom: 1.75rem !important;
}

.authBtnContainer {
    display: flex;
    justify-content: center;
}

.authBtn {
    background-color: green !important;
    border: none !important;
    margin: 2.5% auto 0;
    width: 50%;
}

.authSwitchContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
    width: 100%;
}