.authContainer {
    margin-left: 15%;
}

.authTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 10%;
    padding-top: 5%;
    text-align: center;
    width: 100%;
}

.registerForm {
    border: none !important;
    border-radius: 10px !important;
    min-width: 500px !important;
    width: 35vw;
}

.form-group {
    margin-bottom: 1.75rem !important;
}

.authBtnContainer {
    display: flex;
    justify-content: center;
}

.authBtn {
    background-color: #aa1a1a !important;
    border: none !important;
    margin: 2.5% auto 0;
    width: 50%;
}

.authSwitchContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
    width: 100%;
}